/* PHASE 3: Content */

.content {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: : 1px solid #ccc;
  background-color: #fff;
  display: block;

}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;

}

.content-main {
  float: left;
  width: 620px;
  padding-top: 20px;
  padding-left: 20px;
}

.content h1 {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.content p {

}
