/* PHASE 4: Footer */

.footer {
  margin: 0 auto;
  width: 860px;
  padding: 20px;
  padding-bottom: 36px;
  background: #fff;
  color: #aaa;
  border: 1px solid #ccc;
  font-size: 14px;

}

.footer-copy {
  float:left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  display: block;
  padding-left: 20px;
}

.footer a:hover {
  background: #000;
}
